* {
  border: 1px solid green;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand {
  color: crimson;
  font-size: 3em;
  background-color: silver;
}
